{% extends 'main/layouts/base.html' %}
{% load repeatedblocks %}


{% block content %}

    <div class = "d-flex justify-content-center">
        <h1> Go on Enjoy! <br> <br> </h1>
    </div>

    <section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% repeated_block cards %}
                        {% include 'main/components/card.html' %}
                             {% block card %}
                             {% endblock %}
                    {% endblock %}

                    {% repeat cards %}
                    {% repeat cards %}
                    {% repeat cards %}
                    {% repeat cards %}
                </div>
            </div>
        </div>
    </section>

{% endblock  %}
