{% extends 'main/layouts/base.html' %}
{% load static %}

{% block extra_css %}

     <link href="{% static 'main/css/article_css.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <!--
    TODO   If the user has logged in, show this page as it is.
    TODO   If the user has not logged in show the log in button with the message that they need to login in order to view the articles
    -->

 <br>
 <br>

<div class="container-fluid">

    <div class="parallax"> </div>

    <article>
        <h1 class="d-flex justify-content-center align-items-center">
            <br>
             {{ article_info.title }}
            <br>
            <br>
        </h1>

        <div class="d-flex justify-content-left">
            <h8> Created by: &nbsp; </h8>
               {% for author in article_info.authors.all %}
                    <strong> <em>{{ author }} &nbsp;</em> </strong>
                {% endfor %}
            <br>
            <br>
        </div>

        <div class="d-flex justify-content-between">
          <p> Created at: {{ article_info.created_at }} </p>
          <p> Last Updated at: {{ article_info.updated_at }} </p>
        </div>

        <div>
            <br>
            <br>
            <h4> {{ article_info.content }} </h4>

        </div>

        <!--

        Format:

        Thumbnail Image (parralax efefct)


        Title
        -------
        created_at by author_name
        last updated at (in small)
        -----------
        Content

        -->

    </article>

</div>

{% endblock  %}