{% block card %}



<div class="col-md-4 box-shadow">
    <!-- Boostrap would divide the page in 12 columns by default. So 3 cards would get placed side by side since every card is 4 columns wide -->
    <div class="card mb-4">
        <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
             src={{image}} data-holder-rendered="true">
        <div class="card-body justify-content-center">
            <div class="d-flex justify-content-center align-items-center">
                <p><strong><em>{{ title }}</strong></em></p>
            </div>

            <p class="card-text">{{ prev }}...........</p>

            <div class="btn-group d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-lg btn-outline-secondary"><a
                        href="{{ i.get_absolute_url }}" style="text-decoration: none;"> Read 😊 </a></button>
            </div>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}



